@import "tailwindcss";

@keyframes glow {
  0%,
  100% {
    box-shadow: 0 0 8px 2px #ffe066, 0 0 0 #fff0;
  }
  50% {
    box-shadow: 0 0 24px 8px #ffe066, 0 0 0 #fff0;
  }
}
@keyframes glow-img {
  0%,
  100% {
    filter: drop-shadow(0 0 2px #ffe066);
  }
  50% {
    filter: drop-shadow(0 0 12px #ffe066);
  }
}
@keyframes glow-badge {
  0%,
  100% {
    box-shadow: 0 0 4px 2px #ffe066;
  }
  50% {
    box-shadow: 0 0 16px 6px #ffe066;
  }
}
.animate-glow {
  animation: glow 1.2s ease-in-out infinite;
}
.animate-glow-img {
  animation: glow-img 1.2s ease-in-out infinite;
}
.animate-glow-badge {
  animation: glow-badge 1.2s ease-in-out infinite;
}
